.inputdiv{
    /* border: 2px solid red; */
    height: 10%;
    width: 80%;
    display: flex;
    /* margin-left: 4rem; */
    margin: .5rem 4rem;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
}
.inputdiv input{
    height: 90%;
    width: 70%;
    border: none;
    border-bottom:2px solid black;
    outline: none;
    margin-right: .5rem;
    background: transparent;
    padding-left: 1rem;
    font-size: 1.4rem;
    /* box-shadow: 0 0 4px black; */
    z-index: 100;
}
.inputdiv button{
    height: 80%;
    width: 15%;
    background: transparent;
    outline: none;
    /* border: none; */
}