.inputdiv{
    /* border: 2px solid red; */
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputdiv input{
    height: 90%;
    width: 60%;
    border: none;
    border-bottom:2px solid black;
    outline: none;
    margin-right: .5rem;
    background: transparent;
    padding-left: 1rem;
    font-size: 1.4rem;
    /* box-shadow: 0 0 4px black; */
    z-index: 100;
}
.inputdiv button{
    height: 90%;
    width: 10%;
}